Repository tech-brackets/hacktoberfest-2022-open-source, pull requests merged in 2022-10, with the labels that each got.

#1 Creating Folder and File for python project #1
  python/matrix.py
Labels: enhancement, good first issue, hacktoberfest-2022, hacktoberfest2022, opensource-october, python, hacktoberfest-accepted

#2 Add file ruby
  main.rb
Labels: enhancement, hacktoberfest-2022, hacktoberfest2022, opensource-october, hacktoberfest-accepted, ruby

#3 Creating Sort Table Function on Javascript
  js/RezhaIkhwanHshortTable.html
  js/RezhaIkhwanHshortTable.js
Labels: enhancement, good first issue, hacktoberfest-2022, hacktoberfest2022, opensource-october, javascript, hacktoberfest-accepted

#4 Added flappy game in python
  python/flappy.py
Labels: hacktoberfest-2022, hacktoberfest2022, hacktoberfest-accepted

#5 update readme
  README.md
Labels: hacktoberfest-2022, hacktoberfest2022, php, hacktoberfest-accepted

#7 Add simple web app for create custom-tshirt
  js/custom-tshirt/index.html
  js/custom-tshirt/tailwind.config.js
  js/custom-tshirt/tshirts/black.png
  js/custom-tshirt/tshirts/blue.png
  js/custom-tshirt/tshirts/orange.png
  js/custom-tshirt/tshirts/yellow.png
Labels: good first issue, hacktoberfest-2022, hacktoberfest2022, opensource-october, hacktoberfest-accepted

#6 shortV2
  js/RezhaIkhwanHshortTable.html
  js/RezhaIkhwanHshortTable.js
Labels: enhancement, good first issue, hacktoberfest-2022, hacktoberfest2022, opensource-october, javascript, hacktoberfest-accepted

#8 add youtube downloader
  js/youtube downloader/index.html
  js/youtube downloader/script.js
Labels: enhancement, hacktoberfest-2022, hacktoberfest2022, javascript, hacktoberfest-accepted

#10 Create Hreat.py
  python/Hreat.py
Labels: enhancement, hacktoberfest-2022, hacktoberfest2022, opensource-october, python, hacktoberfest-accepted

#9 adding a heap_sort.py file
  python/heap_sort.py
Labels: enhancement, hacktoberfest-2022, hacktoberfest2022, opensource-october, python, hacktoberfest-accepted

#12 Authentication demo using Bcrypt.
  js/AuthDemo/index.js
  js/AuthDemo/models/user.js
  js/AuthDemo/package.json
  js/AuthDemo/views/login.ejs
  js/AuthDemo/views/register.ejs
  js/AuthDemo/views/secret.ejs
Labels: enhancement, good first issue, hacktoberfest-2022, hacktoberfest2022, opensource-october, javascript, hacktoberfest-accepted

#13 feat: add calculator app
  python/calculator.py
Labels: enhancement, hacktoberfest-2022, hacktoberfest2022, opensource-october, python, hacktoberfest-accepted

#14 Created ip-location.py to find anyone's location with IP address
  python/ip-location.py
Labels: enhancement, hacktoberfest2022, opensource-october, python, hacktoberfest-accepted

#15 Added Different Code Files
  C/xox game.c
  README.md
  python/Fibonacci Numbers Less Than N.py
  python/even fibonacci series less than n.py
Labels: enhancement, hacktoberfest-2022, hacktoberfest2022, python, hacktoberfest-accepted

#16 create guess simple game
  python/guess.py
Labels: enhancement, hacktoberfest-2022, hacktoberfest2022, python, hacktoberfest-accepted

#17 Added A Message Bomber
  python/spammer.py
Labels: enhancement, hacktoberfest-2022, hacktoberfest2022, opensource-october, python, hacktoberfest-accepted

#18 Create Bipartite_Graph.cpp
  C++/Bipartite_Graph.cpp
Labels: enhancement, hacktoberfest-2022, hacktoberfest2022, opensource-october, hacktoberfest-accepted

#19 Create Increasing Triplet Subsequence.py
  python/Increasing Triplet Subsequence.py
Labels: hacktoberfest-2022, hacktoberfest2022, python, hacktoberfest-accepted
